html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #03a9f4;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: grid;
  grid-template-areas:
    "drop drop output output"
    "preview preview cli cli";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(0, 1fr);
  grid-column-gap: 10px;
  flex-grow: 1;
}

@media (max-width: 920px) {
  #app {
    grid-template-areas:
      "drop"
      "output"
      "preview"
      "cli";
    flex-grow: 1;

    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: initial;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  border: solid 1px #aeaeea;
  padding: 1em;
}

fieldset * {
  margin-top: 0.4em;
  display: inline-block;
}

fieldset details {
  display: initial;
}

fieldset details summary {
  display: list-item;
}

fieldset button {
  max-width: 10em;
  background-color: #f92672; 
  border-color: #f92672;
  color: white;
  padding: 0.5em 1em;
}

fieldset button[disabled] {
  opacity: 0.3;
}

:root {
  --filename: 'Please select a file';
}

#fileSelect {
  visibility: collapse;
  user-select: none;
  pointer-events: none;
}

#fileSelect::before {
  content: var(--filename);
  user-select: auto ;
  pointer-events: initial;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;  
  visibility: initial;
  width: 100%;
  display: inline-block;
}

section {
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
  margin: 1em;
  padding: 1em;
  place-self: stretch;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#preview {
  width: calc(100% - 2em);
  margin: 1em;
  display: none;
}

#instructions {
  text-align: left;
  margin: 0 auto;
}

.visible {
  display: initial;
}

.hidden {
  display: none !important;
}

#output-section {
  grid-area: preview;
  display: flex;
  flex-direction: column;
}

#cli-section {
  grid-area: cli;
}

#html {
  grid-area: output;
}

pre {
  margin: 1em !important;
  padding: 1em;
}

#dropbox {
  display: flex;
  flex-direction: column;
  grid-area: drop;
}

file-drop {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

file-drop.drop-valid #dropbox {
  background-color: rgb(151, 187, 151);
}

file-drop.drop-invalid #dropbox {
  background-color: red;
}

#image-output  {
  text-align: left;
  margin: 0 auto;
}

div.output-container h3 {
  text-transform: uppercase;
}

div.output-container ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 0;
}

div.output-container ul li {
  display: block;
  border: 1px rgb(184, 184, 184) solid;
  padding: 1em;
}

div.output-container ul li.current {
  border: 1px rgba(0, 130, 196, 0.7) solid;
}

div.output-container ul li.current .tools {
  opacity: 0.5;
  cursor: not-allowed;
}

div.output-container ul li.done {
  border: 1px rgb(54, 155, 23) solid;
}

div.output-container ul li.working {
  border: 1px rgba(0, 130, 196, 0.7) none;
  color: white;
  animation: blueAnim 2s infinite;
  background-color: rgba(0, 130, 196, 0.7);
}

div.output-container ul li .tools {
  text-align: center;
}

div.output-container ul li .tools a {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
}

div.output-container ul li.done .tools a {
  opacity: 1;
  cursor: initial;
}

@keyframes blueAnim {
  0%, 100% {
    box-shadow: 1px 0px 19px 4px rgba(0, 130, 196, 0.7); 
  }

  50% {
   box-shadow: 0px 0px 0px 0px rgba(0, 130, 196, 0); 
  } 
}
