html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: grid;
  grid-template-areas:
    "drop drop output output"
    "preview preview cli cli";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  flex-grow: 1;
}

@media (max-width: 920px) {
  #app {
    grid-template-areas:
      "drop"
      "output"
      "preview"
      "cli";
    grid-row-gap: 10px;
    flex-grow: 1;

    grid-template-columns: initial;
    grid-template-rows: initial;
  }
}

section {
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
  margin: 1em;
  padding: 1em;
  place-self: stretch;
}

#preview {
  width: calc(100% - 2em);
  margin: 1em;
  display: none;
}

#instructions {
  text-align: left;
  margin: 0 auto;
}

.visible {
  display: initial;
}

.hidden {
  display: none !important;
}

#output-section {
  grid-area: preview;
  position: relative;
  display: flex;
  flex-direction: column;
}

#cli-section {
  grid-area: cli;
}

#html {
  grid-area: output;
}

pre {
  margin: 1em !important;
  padding: 1em;
}

#dropbox {
  display: flex;
  flex-direction: column;
  grid-area: drop;
}

file-drop {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

file-drop.drop-valid #dropbox {
  background-color: rgb(151, 187, 151);
}

file-drop.drop-invalid #dropbox {
  background-color: red;
}

#image-output  {
  text-align: left;
  margin: 0 auto;
}

div.output-container h3 {
  text-transform: uppercase;
}

div.output-container ul {

}

#loader-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  background-color: transparent;
  display: none;
  display: flex;
  align-items: center;
}

#loader {
  color: #2a2a2e;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
